---
layout: default
---

<div id="main">

  <nav><ul>
    {% for node in site.posts reversed %}
      {% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
      <li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
    {% endfor %}
  </ul></nav>

  <div class="section header-post">
    <div class="container">
      <h3>jotajr<h3>

      <span class="fa-stack subtlecircle" style="font-size:75px; background:rgba(255,166,0,0.1)">
        <img class="header-img" src="https://avatars1.githubusercontent.com/u/3202071?v=3&s=460" alt="section icon" />
      </span>

      <h1>Jota Freitas Jr<h1>

      <ul class="list-inline">
        <li><a href="https://twitter.com/jotajr" class="btn-circle btn-social"><i class="ion-social-twitter animated"></i></a></li>
        <li><a href="https://linkedin.com/in/jotafreitasjr" class="btn-circle btn-social"><i class="ion-social-linkedin animated"></i></a></li>
        <li><a href="https://github.com/jotajr" class="btn-circle btn-social"><i class="ion-social-github animated"></i></a></li>
        <li><a href="https://facebook.com/jotajr" class="btn-circle btn-social"><i class="ion-social-facebook animated"></i></a></li>
        <li><a href="http://www.pinterest.com/jotafreitasjr/" class="btn-circle btn-social"><i class="ion-social-pinterest animated"></i></a></li>
        <!-- <li><a href="http://pramod.ninja" class="btn-circle btn-social"><i class="ion-game-controller-b animated"></i></a></li> -->
        <li><a href="mailto:jotafreitasjr@gmail.com" class="btn-circle btn-social"><i class="ion-email animated"></i></a></li>
      </ul>

    </div>
  </div>

  {% for page in site.posts reversed %}
    {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
    <div id="{{id}}" class="section p-{{id}}">
      {% if page.icon %}
      <div class="subtlecircle sectiondivider imaged">
        <img src="{{page.icon}}" alt="section icon" />
        <h5 class="icon-title">{{ page.title }}</h5>
      </div>
      {% elsif page.fa-icon %}
      <div class="subtlecircle sectiondivider faicon">
        <span class="fa-stack">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-{{ page.fa-icon }} fa-stack-1x"></i>
        </span>
        <h5 class="icon-title">{{ page.title }}</h5>
      </div>
      {% endif %}
      <div class="container {{ page.style }}">
        {{ page.content }}
      </div>
    </div>
  {% endfor %}

  <div class="section footer-post">
    <div class="container">
      <h1>Jota Freitas Jr<h1>

      <ul class="list-inline">
        <ul class="list-inline">
        <li><a href="https://twitter.com/jotajr" class="btn-circle btn-social"><i class="ion-social-twitter animated"></i></a></li>
        <li><a href="https://linkedin.com/in/jotafreitasjr" class="btn-circle btn-social"><i class="ion-social-linkedin animated"></i></a></li>
        <li><a href="https://github.com/jotajr" class="btn-circle btn-social"><i class="ion-social-github animated"></i></a></li>
        <li><a href="https://facebook.com/jotajr" class="btn-circle btn-social"><i class="ion-social-facebook animated"></i></a></li>
        <li><a href="http://www.pinterest.com/jotafreitasjr/" class="btn-circle btn-social"><i class="ion-social-pinterest animated"></i></a></li>
        <!-- <li><a href="http://pramod.ninja" class="btn-circle btn-social"><i class="ion-game-controller-b animated"></i></a></li> -->
        <li><a href="mailto:jotafreitasjr@gmail.com" class="btn-circle btn-social"><i class="ion-email animated"></i></a></li>
      </ul>
      <br><br><br><br><br>

    </div>
  </div>
</div>