<div class="contact">
  <p>Enter your e-mail and I'll contact you:</p>
  <form id="contact-form" action="{{ site.form_action }}" method="post">
    <input type="hidden" id="next-{{ include.redirect }}" name="_next" value="{{ site.domain }}#contact-{{ include.redirect }}" />
    <input type="hidden" id="subject-{{ include.redirect }}" name="_subject" value="[Website contact] {{ include.redirect | capitalize }}">
    <input type="text" id="text-{{ include.redirect }}" name="text" placeholder="E-mail address" />
    <input type="submit" class="button {{ include.color }}-button" value="Send" />
  </form>
  <p id="form-result-{{ include.redirect }}"></p>
</div>