<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="tim" src="{{ "/assets/img/tim.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> TIM Brazil </h5>
      <li> Telecom Billing - BSCS</li>
      <li> WEB Portal</li>
      <li> Netwok </li>
      <p>Worked at TIM Brazil project at Accenture using these technologies: Java EE, Java Web, Portlet JSR, Spring Framework, PLSQL, Oracle DB, C, C++, etc.</p>
      <a class="project-link" href="http://www.tim.com.br">TIM Brazil</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/telefonica.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Telefonica (Vivo - GVT) </h5>
      <ul>
        <li> Telecom Billing - Kenan </li>
      </ul>
      <p>Worked at GVT (Telefonica) project at Accenture using these technologies: Java EE, PLSQL, Oracle DB, C, C++, etc.</p>
      <a class="project-link" href="http://www.vivo.com.br">Vivo</a>
    </div>
  </div>
</div>
