<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="tim" src="{{ "/assets/img/tim.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> TIM Brazil </h5>
      <li> Telecom Billing - BSCS</li>
      <li> WEB Portal</li>
      <li> Netwok </li>
      <p>Worked at TIM Brazil project at Accenture using these technologies: Java EE, Java Web, Portlet JSR, Spring
        Framework, PLSQL, Oracle DB, C, C++, etc.</p>
      <a class="project-link" href="http://www.tim.com.br">TIM Brazil</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/telefonica.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Telefonica (Vivo - GVT) </h5>
      <ul>
        <li> Telecom Billing - Kenan </li>
      </ul>
      <p>Worked at GVT (Telefonica) project at Accenture using these technologies: Java EE, PLSQL, Oracle DB, C, C++,
        etc.</p>
      <a class="project-link" href="http://www.vivo.com.br">Vivo</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/jfl.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> JFL Alarmes </h5>
      <ul>
        <li> Mobile (Android/iOS) </li>
        <li> Web </li>
        <li> Web Services - REST API</li>
      </ul>
      <p>Worked as Team Leader at JFL Alarmes project on Virts-CEEI-UFCG whit these technologies: Android,
        iOS, Spring Framework, C, C++.</p>
      <a class="project-link" href="http://www.jfl.com.br">JFL Alarmes</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/oi.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Oi Telecom </h5>
      <ul>
        <li> Telecom Billing - Kenan </li>
      </ul>
      <p>Currently working as Senior Software Engineer at Oi Telecom project at Accenture using these technologies:
        Java EE, PLSQL, Oracle DB, C, C++, etc.</p>
      <a class="project-link" href="http://www.oi.com.br">Oi</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="{{ "/assets/img/huawei.jpg" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Huawei</h5> 
        <ul>
          <li> Fusionsphere </li>
          <li> Cloud Compute </li>
          <li> Cloudstack Integration</li>
          </ul>
          <p>Currently working as Team Leader at Huawei Fusionsphere and Cloudstack plugin integration, 
            using these technologies: Spring Integration, Spring Boot, Microservice with RestFULL APIs.</p>
          <a class="project-link" href="http://www.jfl.com.br">Huawei</a>
    </div>
  </div>
</div>