<div class="container">
  <div class="user-details">
      <h3> Development Skills </h3>
    </div>
  <div class="row user">
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-c-line-wordmark colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-oracle-original colored"></i>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="four columns">
      <h4>SO & Cloud</h4>
      <i class="devicon-apple-original colored"></i>
      <i class="devicon-android-plain-wordmark colored"></i>
      <i class="devicon-amazonwebservices-plain-wordmark colored"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-debian-plain-wordmark colored"></i>
      <i class="devicon-windows8-original colored"></i>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p> -->
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain-wordmark colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <i class="devicon-sourcetree-plain-wordmark colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <i class="devicon-trello-plain colored"></i>
      <i class="devicon-ssh-plain-wordmark colored"></i>
      <!-- <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>  -->
    </div>
  </div>
</div>
