<div class="footer-social-links">
  <a href="http://heiswayi.github.io/feed.xml" title="RSS Feed" target="_blank"><i class="fa fa-rss"></i></a>
  <a href="https://my.linkedin.com/in/nrird" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.facebook.com/heiswayi.nrird" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/HeiswayiNrird" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
  <a href="http://heiswayi.github.io/my-repos/" title="GitHub Repositories" target="_blank"><i class="fa fa-github-alt"></i></a>
  <a href="http://heiswayi.github.io/my-gists/" title="GitHub Gists" target="_blank"><i class="fa fa-code"></i></a>
  <a href="http://codepen.io/heiswayi/" title="CodePen" target="_blank"><i class="fa fa-codepen"></i></a>
  <a href="https://instagram.com/heiswayi.nrird/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
  <a href="http://jsfiddle.net/user/heiswayi/" title="JSFiddle" target="_blank"><i class="fa fa-jsfiddle"></i></a>
</div>
