<div class="footer-social-links">
  <a href="http://jotajr.github.io/feed.xml" title="RSS Feed" target="_blank"><i class="fa fa-rss"></i></a>
  <a href="https://my.linkedin.com/in/jotafreitasjr" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a>
  <a href="https://www.facebook.com/jotajr" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
  <a href="https://twitter.com/jotajr" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a>
  <a href="https://github.com/jotajr" title="GitHub Repositories" target="_blank"><i class="fa fa-github-alt"></i></a>
  <a href="https://gist.github.com/jotajr" title="GitHub Gists" target="_blank"><i class="fa fa-code"></i></a>
  <a href="https://bitbucket.org/jotajr/" title="Bitbucket" target="_blank"><i class="fa fa-bitbucket"></i></a>
  <a href="https://instagram.com/jotafreitasjr/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
</div>
