.btn-outline {
  border: solid 2px #696969;
  font-size: 20px;
  color: #696969;
  background: 0 0;
  transition: all .3s ease-in-out;
}
.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid #696969;
  border-radius: 100%;
  text-align: center;
}
.btn-social :first-child {
  top: 6px;
  bottom: 0;
  line-height: 34px;
  font-size: 34px;
  text-align: center;
  border-right: 0px !important;
}
.btn-circle {
  padding: 7px 0px;
  border: 2px solid #696969;
  border-radius: 34px;
  color: #696969;
  background: 0 0;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
}

.scroll {
  .btn-circle {
    width: 70px;
    height: 70px;
    font-size: 34px;
  }
  .btn-circle i.animated {
    margin: auto;
  }
}
.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
  color: #494949;
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}