/* -- circulo da foto -- */

.header-img {
  border-radius: 50%;
}

.header-post {
  background: url(https://raw.githubusercontent.com/jotajr/jotajr.github.io/master/_includes/img/yosemite.JPG); 
  background-size: cover; 
}