.list-inline {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

.list-inline li {
  display: inline;
}

.post {
  padding-bottom: 20px;
}

.container p:first-of-type {
  margin-top: 0px;
}