---
layout: compress
published: true
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

  {% include head.html %}

  <body>

    <a href="#content" class="skip">Skip to content</a>

    <div class="wrap">

      <div class="masthead">
        <div class="container">
          <h2 class="masthead-title">
            <a href="{{ site.url }}" title="{{ site.title }}" class="title">{{ site.logo_text | downcase }} <span class="dot-red">•</span><span class="dot-yellow">•</span><span class="dot-green">•</span></a>
            {% if site.show_tagline %}
            <small>{% include tagline.html %}</small>
            {% endif %}
          </h2>

          {% if site.show_social_icons %}
            {% include social_link_icons.html %}
          {% endif %}

          <div class="nav">
              <ul class="top-menu">
                <li><a href="/" title="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/resume">Resume</a></li>
                {% if page.title == "Home" %}
                <li><a href="/#Tags">Tags</a></li>
                {% else %}
                <li><a href="/tagged">Tags</a></li>
                {% endif %}
                <!-- <li><a href="/my-photography">Photography</a></li> -->
                <li><a href="/reminder">Reminder</a></li>
              </ul>
          </div>

        </div>
      </div>

      <div id="content" class="container content">
        {{ content }}
      </div>
    </div>

	  {% include foot.html %}

  </body>
</html>
